body {
    font-family: Arial;
    font-size: 13px;
}
.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid green;
    padding: 20px;
    border-radius: 10px;
}
#title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}
#title::after {
    font-weight: normal;
    font-size: 13px;
    text-align: right;
    display: block;
    content: 'Например "1970" г.';
}
#fieldOfText {
    margin-right: 10px;
    margin-bottom: 10px;
}
#fieldOfText::placeholder {
    color: grey;
}
#answer {
    position: absolute;
    height: 20px;
    width: 75px;
}